{"openapi":"3.0.3","info":{"title":"Api Documentation","description":"Laravel autogenerate swagger","termsOfService":"http:\/\/swagger.io\/terms\/","contact":{"email":"hussein4alaa@gmail.com"},"license":{"name":"Github","url":"https:\/\/github.com\/hussein4alaa"},"version":"3.0.7"},"servers":[{"url":"https:\/\/blue-penguin-872241.hostingersite.com\/","description":"localhost"}],"components":{"tags":[{"name":"Auth","description":null},{"name":"Event","description":null},{"name":"Banner","description":null},{"name":"Category","description":null},{"name":"Wallet","description":null},{"name":"Order","description":null},{"name":"Ticket","description":null}],"paths":{"\/logout":{"post":{"tags":["Auth"],"summary":"unknown","description":"","operationId":"_logout_POST","parameters":[],"responses":{"200":{"description":"Successful Operation"},"422":{"description":"Validation Issues"}}}},"\/api\/login":{"post":{"tags":["Auth"],"summary":"unknown","description":"","operationId":"_api_login_POST","parameters":[],"responses":{"200":{"description":"Successful Operation"},"422":{"description":"Validation Issues"}}}},"\/api\/register":{"post":{"tags":["Auth"],"summary":"unknown","description":"","operationId":"_api_register_POST","parameters":[],"responses":{"200":{"description":"Successful Operation"},"422":{"description":"Validation Issues"}}}},"\/api\/events\/active":{"get":{"tags":["Event"],"summary":"unknown","description":"","operationId":"_api_events_active_GET|HEAD","parameters":[],"responses":{"200":{"description":"Successful Operation"},"404":{"description":"Not Found"}}}},"\/api\/events\/upcoming":{"get":{"tags":["Event"],"summary":"unknown","description":"","operationId":"_api_events_upcoming_GET|HEAD","parameters":[],"responses":{"200":{"description":"Successful Operation"},"404":{"description":"Not Found"}}}},"\/api\/banners":{"get":{"tags":["Banner"],"summary":"unknown","description":"","operationId":"_api_banners_GET|HEAD","parameters":[],"responses":{"200":{"description":"Successful Operation"},"404":{"description":"Not Found"}}}},"\/api\/events\/active\/category\/{categoryId}":{"get":{"tags":["Event"],"summary":"unknown","description":"","operationId":"_api_events_active_category__categoryId__GET|HEAD","parameters":[{"name":"categoryId","in":"path","description":"categoryId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful Operation"},"404":{"description":"Not Found"}}}},"\/api\/categories":{"get":{"tags":["Category"],"summary":"unknown","description":"","operationId":"_api_categories_GET|HEAD","parameters":[],"responses":{"200":{"description":"Successful Operation"},"404":{"description":"Not Found"}}}},"\/api\/events\/{id}":{"get":{"tags":["Event"],"summary":"unknown","description":"","operationId":"_api_events__id__GET|HEAD","parameters":[{"name":"id","in":"path","description":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful Operation"},"404":{"description":"Not Found"}}}},"\/api\/logout":{"post":{"tags":["Auth"],"summary":"unknown","description":"","operationId":"_api_logout_POST","parameters":[],"responses":{"200":{"description":"Successful Operation"},"422":{"description":"Validation Issues"}}}},"\/api\/wallet\/deposit":{"post":{"tags":["Wallet"],"summary":"unknown","description":"","operationId":"_api_wallet_deposit_POST","parameters":[],"responses":{"200":{"description":"Successful Operation"},"422":{"description":"Validation Issues"}},"requestBody":{"description":"","content":{"multipart\/form-data":{"schema":{"$ref":"#\/components\/schemas\/WalletDeposit"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/WalletDeposit"}}},"required":true}}},"\/api\/order":{"post":{"tags":["Order"],"summary":"unknown","description":"","operationId":"_api_order_POST","parameters":[],"responses":{"200":{"description":"Successful Operation"},"422":{"description":"Validation Issues"}},"requestBody":{"description":"","content":{"multipart\/form-data":{"schema":{"$ref":"#\/components\/schemas\/OrderStore"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/OrderStore"}}},"required":true}}},"\/api\/my-tickets":{"get":{"tags":["Ticket"],"summary":"unknown","description":"","operationId":"_api_my-tickets_GET|HEAD","parameters":[],"responses":{"200":{"description":"Successful Operation"},"404":{"description":"Not Found"}}}}},"schemas":{"WalletDeposit":{"required":["user_id","amount"],"type":"object","properties":{"user_id":{"required":"true","type":"string"},"amount":{"required":"true","type":"number","minimum":"0.01"}},"xml":{"name":"walletdeposit"}},"OrderStore":{"required":["event_id","tickets[]","tickets.*.ticket_category_id","tickets.*.holder_name","tickets.*.holder_phone"],"type":"object","properties":{"event_id":{"required":"true","type":"string"},"tickets[]":{"required":"true","type":"array","minimum":"1"},"tickets[merge_input][ticket_category_id]":{"required":"true","type":"string"},"tickets[merge_input][holder_name]":{"required":"true","type":"string","maximum":"255"},"tickets[merge_input][holder_phone]":{"required":"true","type":"string","maximum":"20"}},"xml":{"name":"orderstore"}}},"securitySchemes":{"authorization":{"type":"apiKey","name":"authorization","in":"header"},"apiKey1":{"type":"apiKey","name":"key1","in":"query"}}},"tags":[{"name":"Auth","description":null},{"name":"Event","description":null},{"name":"Banner","description":null},{"name":"Category","description":null},{"name":"Wallet","description":null},{"name":"Order","description":null},{"name":"Ticket","description":null}],"paths":{"\/logout":{"post":{"tags":["Auth"],"summary":"unknown","description":"","operationId":"_logout_POST","parameters":[],"responses":{"200":{"description":"Successful Operation"},"422":{"description":"Validation Issues"}}}},"\/api\/login":{"post":{"tags":["Auth"],"summary":"unknown","description":"","operationId":"_api_login_POST","parameters":[],"responses":{"200":{"description":"Successful Operation"},"422":{"description":"Validation Issues"}}}},"\/api\/register":{"post":{"tags":["Auth"],"summary":"unknown","description":"","operationId":"_api_register_POST","parameters":[],"responses":{"200":{"description":"Successful Operation"},"422":{"description":"Validation Issues"}}}},"\/api\/events\/active":{"get":{"tags":["Event"],"summary":"unknown","description":"","operationId":"_api_events_active_GET|HEAD","parameters":[],"responses":{"200":{"description":"Successful Operation"},"404":{"description":"Not Found"}}}},"\/api\/events\/upcoming":{"get":{"tags":["Event"],"summary":"unknown","description":"","operationId":"_api_events_upcoming_GET|HEAD","parameters":[],"responses":{"200":{"description":"Successful Operation"},"404":{"description":"Not Found"}}}},"\/api\/banners":{"get":{"tags":["Banner"],"summary":"unknown","description":"","operationId":"_api_banners_GET|HEAD","parameters":[],"responses":{"200":{"description":"Successful Operation"},"404":{"description":"Not Found"}}}},"\/api\/events\/active\/category\/{categoryId}":{"get":{"tags":["Event"],"summary":"unknown","description":"","operationId":"_api_events_active_category__categoryId__GET|HEAD","parameters":[{"name":"categoryId","in":"path","description":"categoryId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful Operation"},"404":{"description":"Not Found"}}}},"\/api\/categories":{"get":{"tags":["Category"],"summary":"unknown","description":"","operationId":"_api_categories_GET|HEAD","parameters":[],"responses":{"200":{"description":"Successful Operation"},"404":{"description":"Not Found"}}}},"\/api\/events\/{id}":{"get":{"tags":["Event"],"summary":"unknown","description":"","operationId":"_api_events__id__GET|HEAD","parameters":[{"name":"id","in":"path","description":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful Operation"},"404":{"description":"Not Found"}}}},"\/api\/logout":{"post":{"tags":["Auth"],"summary":"unknown","description":"","operationId":"_api_logout_POST","parameters":[],"responses":{"200":{"description":"Successful Operation"},"422":{"description":"Validation Issues"}}}},"\/api\/wallet\/deposit":{"post":{"tags":["Wallet"],"summary":"unknown","description":"","operationId":"_api_wallet_deposit_POST","parameters":[],"responses":{"200":{"description":"Successful Operation"},"422":{"description":"Validation Issues"}},"requestBody":{"description":"","content":{"multipart\/form-data":{"schema":{"$ref":"#\/components\/schemas\/WalletDeposit"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/WalletDeposit"}}},"required":true}}},"\/api\/order":{"post":{"tags":["Order"],"summary":"unknown","description":"","operationId":"_api_order_POST","parameters":[],"responses":{"200":{"description":"Successful Operation"},"422":{"description":"Validation Issues"}},"requestBody":{"description":"","content":{"multipart\/form-data":{"schema":{"$ref":"#\/components\/schemas\/OrderStore"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/OrderStore"}}},"required":true}}},"\/api\/my-tickets":{"get":{"tags":["Ticket"],"summary":"unknown","description":"","operationId":"_api_my-tickets_GET|HEAD","parameters":[],"responses":{"200":{"description":"Successful Operation"},"404":{"description":"Not Found"}}}}}}